<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="fr.mathieubour.minesweeper.server.Server" />
    <module name="3a-minesweeper" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="fr.mathieubour.minesweeper.server.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>